@import "tailwindcss";


@theme {
  --shadow-blur: -2px -5px 13px -2px #0003;
  --shadow-all: 2px 2px 6px -2px #0003;
}

@font-face {
    font-family: font1;
    src: url(../public/fonts/Amulya-Medium.ttf);
}

@keyframes marquee {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}

.animate-marquee {
  display: flex;
  animation: marquee 15s linear infinite;
  width: max-content;
}

/* optional: hide scrollbar on mobile carousel */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}



        
.carve{
  box-shadow: inset 7px -9px 5px -11px #0003, -1px 11px 0 0 #fff;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 14px;
  width: 14%;
  height: 20px;
  position: absolute;
  top: 10px;
  inset: auto -14% 18% auto;
    }

